@import "sidebar.css";
@import "add_course.css";
@import "add_topic.css";

/*Dashboard*/
.dashboard-container {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.dashboard-header {
    width: 100%;
    margin-bottom: 10px;
}

.dashboard-title-box {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    border-left: 3px solid var(--font);
    margin-bottom: 10px;
}

.dashboard-description-box {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.course-header-title {
    font: var(--font);
    font-weight: 600;
    font-size: 26px;
    margin-left: 20px;
    align-self: center;
    line-height: normal;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.course-header-title:focus-visible {
    outline : none;
    text-decoration: underline;
}

.course-description {
    font-size: 14px;
    max-width: calc(60% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.course-description:focus-visible {
    outline : none;
    text-decoration: underline;
}

.course-type {
    background: var(--textbox-border);
    border: 1px solid var(--textbox-border);
    border-radius: 18px;
    font-size: 12px;
    color: var(--font);
    height: max-content;
    padding: 3px 8px;
    align-self: center;
}

.dashboard-action-buttons-box {
    float: right;
}

.dashboard-action-buttons {
    display: inline;
}

.dashboard-action-button {
    border-radius: 8px !important;
}

.dashboard-action-button .fal{
    margin: 0;
    width: 24px;
    justify-content: center;
}

.dashboard-content {
    height: calc(100vh - 230px);
    background-color: var(--container-bg-1);
    border-radius: 8px;
    padding: 10px;
    overflow-y: overlay;
    display: flex;
    text-align: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.dashboard-content.dashboard-list {
    display: block;
    text-align: left;
    padding: 0;
}

.dashboard-topic {
    max-width: 180px;
    max-height: 210px;
    cursor: pointer;
}

.dashboard-topic:hover {
    opacity: 0.7;
}

.dashboard-topic a{
    text-decoration: none;
    display: contents;
}

.dashboard-topic .fal{
    position: relative;
    top: -200px;
    right: -50px;
    border-radius: 20px;
    text-align: center;
    color: var(--icon);
    font-weight: 500;
    text-decoration: none;
}

.dashboard-topic .svg{
    width: 180px;
}

.dashboard-topic-group {
    top: -25px;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
}

.dashboard-topic-title {
    max-width: 110px;
    height: 50px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
}

.dashboard-topic-difficulty {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.dashboard-list .dashboard-topic{
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--table-border-bottom);
}

.dashboard-list .dashboard-topic:hover{
    background: var(--table-bg-hover);
    opacity: 1;
}

.dashboard-list .dashboard-topic-group{
    display: inline;
    padding: 0 30px;
    top: 0;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.dashboard-list .dashboard-topic-difficulty{
    margin-left: 10px;
}

.dashboard-list .dashboard-topic .svg{
    width: 40px;
}

.dashboard-list .dashboard-topic .fal{
    position: static;
}

.ellipsis-dropdown {
    width: 0px;
    height: 0px;
}

.ellipsis-dropdown-content {
    display: none;
    background-color: var(--header-dropdown-bg);
    min-width: 160px;
    overflow: auto;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: 8px;
    padding: 10px 0 10px 0;
    will-change: transform;
    transform: translate3d(-10px, -200px, 0px);
    position: sticky;
}

.ellipsis-dropdown-content a {
    color: var(--font);
    padding: 10px 15px;
    display: block;
}

.ellipsis-dropdown-content .fal {
    padding: 0 15px;
    position: inherit;
}

.ellipsis-dropdown-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
}

.ellipsis-dropdown-box:hover {
    background-color: var(--header-dropdown-bg-hover);
}

.dashboard-list .ellipsis-dropdown-content{
    transform: translate3d(-160px, 15px, 0px);
}

.modal-content {
    box-shadow: var(--box-shadow);
    background: var(--header-bg) !important;
}

.modal-header {
    border-bottom: none !important;
}

.modal-header .btn {
    position: absolute;
    right: 10px;
    color: var(--icon);
    font-weight: 600;
    font-size: 24px;
    border: none !important;
}

.modal-header .btn:hover {
    opacity: 0.6;
}

.modal-title {
    border-left: 4px solid;
    font-weight: 600;
    padding-left: 20px;
}

.modal-body .icon-box .fal {
    font-size: 60px;
    margin-bottom: 12px;
}

.modal-body h3 {
    font-weight: 600x;
    margin-bottom: 10px;
}

.modal-footer {
    border-top: none !important;
}

.show {
    display: block;
}

/*Responsive*/
@media(max-width: 767px) {
    .course-description {
        max-width: calc(60% - 100px);
    }
}

@media(max-width: 480px) {
    .course-description {
        max-width: calc(50% - 60px);
    }
}