/*Sidebar*/
.sidebar {
    background: var(--sidebar-bg);
    min-width: 250px;
    max-width: 250px;
    box-shadow: 5px 0px 8px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    display: block;
}

.sidebar.close {
    display: none;
}

.content {
    min-height: calc(100vh - 56px);
    /*Change the px*/
    width: 100%;
}

.header-box {
    padding: 15px 0 15px 20px;
}

.header {
    text-decoration-line: underline;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.course-badge {
    background: var(--sidebar-item-bg-selected);;
    border: 1px solid var(--sidebar-item-bg-selected);;
    border-radius: 18px;
    font-size: 12px;
    font-weight: 600;
    color: var(--font);
    padding: 3px 8px;
    margin-left: 10px;
}

.sidebar .course {
    border-radius: 8px;
    margin: 5px 0;
}

.sidebar .course.active {
    background: var(--sidebar-item-bg-selected);
}

.sidebar .course:hover {
    background: var(--sidebar-item-bg-hover);
    transition: all 0.3s ease-in;
}

.sidebar .course.active a,
.sidebar .course.active a:hover {
    color: var(--font-hover);
}

.sidebar li a {
    color: var(--font);
}

.sidebar.active~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.course-lists {
    margin: 0 10px;
    overflow-y: auto;
    max-height: calc(100vh - 12rem);
}

.course-list {
    padding: 5px 15px 5px 15px;
}

.course-list .fal {
    padding: 5px;
}

.course-title {
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.course-add {
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    bottom: 0;
    margin: 0;
    padding: 15px 20px !important;
    background: var(--sidebar-button-bg);
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.course-add:hover {
    background: var(--sidebar-button-bg-hover);
}