/* Google Font Import - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.body {
    background: #464646;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;


}

.button {
    border-radius: 8px;
    border: 1px solid #ff3838;
    background-color: #ff3838;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 4px 26px;
    outline: none;
    width: 100%;
    min-height: 32px;
    margin: 12px 0px;
}

.button:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #000;
}

form {
    width: 90%;
    max-height: 70%;
    padding: 30px;
    background: #363636;
    border-radius: 8px;
    overflow: overlay;
}

label {
    font-weight: 600;
    color: #CCCCCC;
}

.input-title {
    font-size: 18px;
    font-weight: 600;
    color: #CCCCCC;
    margin-bottom: 8px;
}

.centre {
    display: block;
    text-align: center;
}

.title {
    font-size: 26px;
    margin-bottom: 15px;
}

.error {
    font-size: 14px;
    color: #D8000C;
    margin-bottom: 18px;
}


input::placeholder,
::placeholder {
    color: #666;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}


input[type=text],
input[type=password],
input[type=email] {
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid #666;
    outline: none;
    background: #363636;
    padding: 10px 15px;
    height: 32px;
    width: 100%;
    color: #ccc;
}

.button-field {
    display: grid;
}
.link {
    color: #666;
}

.link:hover {
    color: #ccc;
}

.signup-box {
    display: flex;
}

.left {
    width: 50%;
    padding-right: 10px;
}

.right {
    width: 50%; 
    padding-left: 10px;
}