.dark{
    --bg: #464646;
    --font: #ccc;
    --font-hover: #ff3838;
    --icon: #ccc;
    --icon-hover: #ff3838;
    --icon-disabled: #666;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /*Header*/
    --header-bg: #464646;
    --header-dropdown-bg: #666;
    --header-dropdown-bg-hover: rgba(0, 0, 0, 0.3);

    /*Sidebar*/
    --sidebar-bg: #666;
    --sidebar-item-bg-selected: rgba(255, 255, 255, 0.1);
    --sidebar-item-bg-hover: rgba(255, 255, 255, 0.3);
    --sidebar-button-bg: rgba(255, 255, 255, 0.1);
    --sidebar-button-bg-hover: rgba(255, 255, 255, 0.3);

    /*Search bar*/
    --searchbar-bg: #363636;
    --searchbar-border: #666;
    --searchbar-icon: #666;
    --searchbar-placeholder: #666;
    --searchbar-cancel-opacity: 0.7;

    /*Primary button*/

    /*Secondary button*/
    --secondary-btn-bg: #363636;
}