@import "style.css";

body {
    background: var(--bg) !important;
}

/* Icon */
.fal {
    font-size: 24px;
    display: inline-flex !important;
    align-items: center;
}

/* SVG */
.svg {
    width: 30px;
}

/* Primary Button */
.primary-btn {
    border-radius: 8px;
    border: 1px solid var(--primary-btn-border);
    background-color: var(--primary-btn-bg);
    color: var(--primary-btn-font);
    font-size: 14px;
    font-weight: 600;
    padding: 4px 26px;
    outline: none;
}

.primary-btn:hover {
    border: 1px solid var(--primary-btn-border-hover);
    background-color: var(--primary-btn-bg-hover);
    color: var(--primary-btn-font-hover);
}

.primary-btn:disabled,
.primary-btn[disabled] {
    border: 1px solid var(--primary-btn-border-disabled);
    background-color: var(--primary-btn-bg-disabled);
    color: var(--primary-btn-font-disabled);
}

/* Secondary Button */
.secondary-btn {
    border-radius: 8px;
    border: 1px solid var(--secondary-btn-border);
    background-color: var(--secondary-btn-bg);
    color: var(--secondary-btn-font);
    font-size: 14px;
    font-weight: 600;
    padding: 4px 26px;
    outline: none;
}

.secondary-btn:hover {
    border: 1px solid var(--secondary-btn-border-hover);
    background-color: var(--secondary-btn-bg);
    color: var(--secondary-btn-font-hover);
}

.secondary-btn:disabled,
.secondary-btn[disabled] {
    border: 1px solid var(--secondary-btn-border-disabled);
    background-color: var(--secondary-btn-bg);
    color: var(--secondary-btn-font-disabled);
}

/* Dropdown */
.dropdown {
    border-radius: 8px;
    border: 1px solid var(--textbox-border);
    background: var(--textbox-bg);
    color: var(--font);
    font-size: 14px;
    font-weight: 600;
    padding: 10px 15px;
    outline: none;
}

/* Action button */
.action-btn {
    border-radius: 0px;
    border: none;
    background-color: var(--action-btn-bg);
    color: var(--action-btn-font);
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.action-btn:hover {
    border: none;
    background-color: var(--action-btn-bg-hover);
    color: var(--action-btn-font-hover);
}

.action-btn:disabled,
.action-btn[disabled] {
    border: none;
    background-color: var(--action-btn-bg-disabled);
    color: var(--action-btn-font-disabled);
}

.action-btn:first-child {
    border-radius: 8px 0 0 8px;
}

.action-btn:last-child {
    border-radius: 0 8px 8px 0;
}

.action-btn .fal {
    vertical-align: middle;
    margin-left: 8px;
}

.action-btn:disabled .fal,
.action-btn[disabled] .fal {
    color: var(--action-btn-font-disabled);
}

/* Difficulty */
.difficulty-beginner {
    background: #008000;
}

.difficulty-intermediate {
    background: #FFA500;
}

.difficulty-advanced {
    background: #FF0000;
}

/* Input */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times.svg) no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: var(--searchbar-cancel-opacity);
    pointer-events: all;
}

input[type=text],
input[type=password] {
    border-radius: 8px;
    border: 1px solid var(--textbox-border);
    outline: none;
    background: var(--textbox-bg);
    padding: 10px 15px;
    height: 32px;
}

textarea {
    border-radius: 8px;
    border: 1px solid var(--textbox-border);
    outline: none;
    background: var(--textbox-bg);
    padding: 10px 15px;
    height: 130px;
    vertical-align: text-top;
}

input::placeholder,
::placeholder {
    color: var(--textbox-placeholder);
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
}

/*Responsive*/
@media(max-width: 767px) {}

@media(max-width: 480px) {}