/* Google Font Import - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Import Theme Colour */
@import "Theme/light.css";
@import "Theme/dark.css";

/* Import SVG */
@import "svg.css";

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    color: var(--font);
}
