.svg-folder {
    content: url("../Svg/folder.svg");
}

.svg-document {
    content: url("../Svg/document.svg");
}

.svg-audio {
    content: url("../Svg/audio.svg");
}

.svg-video {
    content: url("../Svg/video.svg");
}