.dark{
    --bg: #464646;
    --font: #ccc;
    --font-hover: #ff3838;
    --icon: #ccc;
    --icon-hover: #ff3838;
    --icon-disabled: #666;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /*Header*/
    --header-bg: #464646;
    --header-dropdown-bg: #666;
    --header-dropdown-bg-hover: rgba(0, 0, 0, 0.3);

    /*Sidebar*/
    --sidebar-bg: #666;
    --sidebar-item-bg-selected: rgba(255, 255, 255, 0.1);
    --sidebar-item-bg-hover: rgba(255, 255, 255, 0.3);
    --sidebar-button-bg: rgba(255, 255, 255, 0.1);
    --sidebar-button-bg-hover: rgba(255, 255, 255, 0.3);

    /*Search bar*/
    --searchbar-bg: #363636;
    --searchbar-border: #666;
    --searchbar-icon: #666;
    --searchbar-placeholder: #666;
    --searchbar-cancel-opacity: 0.7;

    /*Textbox*/
    --textbox-bg: #363636;
    --textbox-border: #666;
    --textbox-icon: var(--icon);
    --textbox-placeholder: #666;


    /*Primary button*/
    --primary-btn-bg: #ff3838;
    --primary-btn-bg-hover: #fff;
    --primary-btn-bg-disabled: #eee;
    --primary-btn-border: #ff3838;
    --primary-btn-border-hover: #fff;
    --primary-btn-border-disabled: #eee;
    --primary-btn-font: #fff;
    --primary-btn-font-hover: #000;
    --primary-btn-font-disabled: #ccc;
    

    /*Secondary button*/
    --secondary-btn-bg: transparent;
    --secondary-btn-border: #ff3838;
    --secondary-btn-border-hover: #fff;
    --secondary-btn-border-disabled: #eee;
    --secondary-btn-font: #ff3838;
    --secondary-btn-font-hover: #fff;
    --secondary-btn-font-disabled: #eee;

    /*Action button*/
    --action-btn-bg: #363636;
    --action-btn-bg-hover: #666;
    --action-btn-bg-disabled: #363636;
    --action-btn-font: #ccc;
    --action-btn-font-hover: #ccc;
    --action-btn-font-disabled: #666;

    /*Pop Up*/
    --popup-bg: rgba(0, 0, 0, 0.6);

    /*Container Background*/
    --container-bg-1: #363636;
    --container-bg-2: #666;
}