.tab-content {
    height: calc(100vh - 230px);
    background-color: var(--container-bg-1);
    border-radius: 8px;
    padding: 10px;
    overflow-y: overlay;
    display: flex;
    text-align: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.file-lists {
    display: flex;
    text-align: center;
    align-content: flex-start;
    flex-wrap: wrap;
}

.topic-file {
    max-width: 180px;
    max-height: 210px;
    cursor: pointer;
}

.topic-file:hover {
    opacity: 0.7;
}

.topic-file a {
    text-decoration: none;
    display: contents;
}

.topic-file .fal {
    position: relative;
<<<<<<< HEAD
    top: -210px;
=======
    top: -190px;
>>>>>>> 9ea2c6a (Added file toggle view function (list & grid))
    right: -50px;
    border-radius: 20px;
    text-align: center;
    color: var(--icon);
    font-weight: 500;
    text-decoration: none;
}

.topic-file .svg {
    width: 180px;
    height: 180px;
    display: block;
}

.topic-file-group {
    top: -10px;
    position: relative;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
}

.topic-file-title {
    max-width: 110px;
    height: 50px;
    overflow: hidden;
    text-align: start;
    text-overflow: ellipsis;
}

>>>>>>> 9ea2c6a (Added file toggle view function (list & grid))
.tab-content.topic-list {
    display: block;
    text-align: left;
    padding: 0;
}

.topic-list .topic-file{
    width: 100%;
    max-width: 100%;
    height: 50px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--table-border-bottom);
    text-align: left;
}

.topic-list .topic-file:hover{
    background: var(--table-bg-hover);
    opacity: 1;
}

.topic-list .topic-file-group{
    display: inline;
    padding: 0 30px;
    top: 0;
    max-height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.topic-list .topic-file .svg{
    width: 40px;
}

.topic-list .topic-file .fal{
    position: static;
}
/*
.ellipsis-dropdown {
>>>>>>> 9ea2c6a (Added file toggle view function (list & grid))
    width: 0px;
    height: 0px;
}

<<<<<<< HEAD
.file-dropdown-content {
=======
.ellipsis-dropdown-content {
>>>>>>> 9ea2c6a (Added file toggle view function (list & grid))
    display: none;
    background-color: var(--header-dropdown-bg);
    min-width: 160px;
    overflow: auto;
    box-shadow: var(--box-shadow);
    z-index: 1;
    border-radius: 8px;
    padding: 10px 0 10px 0;
    will-change: transform;
    transform: translate3d(-10px, -200px, 0px);
    position: sticky;
}

<<<<<<< HEAD
.file-dropdown-content span, .file-dropdown-content a {
    color: var(--font);
    padding: 5px 8px;
    display: flex;
}

.file-dropdown-content .fal {
=======
.ellipsis-dropdown-content span {
    color: var(--font);
    padding: 10px 15px;
    display: block;
}

.ellipsis-dropdown-content .fal {
>>>>>>> 9ea2c6a (Added file toggle view function (list & grid))
    padding: 0 15px;
    position: inherit;
}

<<<<<<< HEAD
.file-dropdown-box {
=======
.ellipsis-dropdown-box {
>>>>>>> 9ea2c6a (Added file toggle view function (list & grid))
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
}

<<<<<<< HEAD
.file-dropdown-box:hover {
    background-color: var(--header-dropdown-bg-hover);
}

.topic-list .file-dropdown-content{
    transform: translate3d(-160px, 15px, 0px);
}
=======
.ellipsis-dropdown-box:hover {
    background-color: var(--header-dropdown-bg-hover);
}

.topic-list .ellipsis-dropdown-content{
    transform: translate3d(-160px, 15px, 0px);
}
*/
>>>>>>> 9ea2c6a (Added file toggle view function (list & grid))
