@import "tab.css";
@import "file.css";
@import "add_file.css";

/*Topic*/
.topic-container {
    width: 100%;
    height: 100%;
    padding: 30px;
}

.topic-header {
    width: 100%;
    margin-bottom: 10px;
}

.topic-header-box {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.topic-title-box {
    width: 60%;
    display: inline-flex;
    justify-content: space-between;
    border-left: 3px solid var(--font);
    margin-bottom: 10px;
}

.topic-description-box {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.topic-header-title {
    font: var(--font);
    font-weight: 600;
    font-size: 26px;
    margin-left: 20px;
    align-self: center;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.topic-header-title:focus-visible {
    outline : none;
    text-decoration: underline;
}

.topic-description {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.topic-description:focus-visible {
    outline : none;
    text-decoration: underline;
}

.topic-action-buttons-box {
    float: right;
}

.topic-action-buttons {
    display: inline;
}

.topic-action-button {
    border-radius: 8px !important;
}

.topic-action-button .fal{
    margin: 0;
    width: 24px;
    justify-content: center;
}

.show {
    display: block;
}

/*Responsive*/
@media(max-width: 767px) {
    .topic-description {
        max-width: calc(60% - 100px);
    }
}

@media(max-width: 480px) {
    .topic-description {
        max-width: calc(50% - 60px);
    }
}